*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #181818;
}
body.lock{
	overflow-y: hidden;
}

#root {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

header {
	flex: 0 0;
	padding: 1% 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #111;
}

/* Main------------ */

.search {
	border: 2px solid #000;
	padding: 2% 10%;
	font-size: calc(7px + 20 * (100vw / 1400));
}

.left-menu {
	margin: 0 2%;
	padding: 0 1%;
	flex: 20% 0 0;
	width: 100%;
	min-width: 150px;
	background-color: #ccc;
}

.content {
	flex: 100% 1 1;
}



/* Footer-------------- */

footer {
	flex: 15% 0 0;
	display: flex;
	flex-direction: column;
}

.top-footer {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: #111;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
}

.top-footer a, .top-footer a:visited{
	color: #fff
}


.top-footer nav a {
	margin-bottom: 7px;
}

.top-footer nav {
	padding-left: 5px;
	display: flex;
	justify-content: space-around;
	font-size: calc(4px + 12 * (100vw / 1400));
	text-decoration: underline;
	flex-direction: column;
}

.contacts {
	flex: 15% 0 0;
	font-size: calc(4px + 12 * (100vw / 1400));
}
.logo img {
	max-width: 10vw;
}
.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.social-list a img{
	width: 3.5vw
}

.bottom-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	height: 50px;
	background-color: #272727;
	font-family: "MontSerrat", sans-serif;
	color: #A7A7A7;
}

.bottom-footer p {
	flex: 48% 0 0;
}

.bottom-footer a, .bottom-footer a:visited {
	color: #5C8AFF;
}

/* Slider-item */

.slideshow-item {
	display: flex;
}

.slideshow-item img{
	width: 60%;
}

/* Slider-item */


/* Slick-slider */

.slick-slider {
	max-width: 80%;
	margin: 0 auto;
	position: relative;
}

.draggable {
	overflow: hidden;
}

.slick-track {
	display: flex;

}

.slick-slide {
	display: flex;
	justify-content: space-between;
}

.slick-next, .slick-prev {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	background: url('Images/pngwing.png') 0 0 / 100% no-repeat;
	font-size: 0;
	z-index: 10;
	/* background-color: #ccc; */
}

.slick-arrow.slick-next {
	right: -10%;
}

.slick-arrow.slick-prev {
	left: -10%;
	transform: rotate(180deg);
}

.slick-next::before {
	content: '';
}


.content {
	flex: 1 1 100%;
	padding: 2% 3%;
}
.content h3 {
	font-size: 30px;
	color: white;
	padding-bottom: 20px;
}
.content p{
	font-size: 20px;
	color: white;
}